{% extends 'layouts/base.njk' %}
{% block body_main_content %}
  <div class="page-section">
    <div class="grid-row" id="confirm-registration">
      <div class="column--three-quarters">
        <div class="callout registration-success">
          <p class="registration-success__text">Application sent</h2>
        </div>
        <div class ="callout callout--attention next-step">
          <p class="callout--attention__title">What to do next</p>
          {% component nextStepBlock,{} %}
          <details>
            <summary>
              <span class="details__summary">Contact details</span>
            </summary>
            <div class="details__content">
                <div class="callout callout--info">
                 <p>You can usually find your NHS number:</p>
                </div>
            </div>
          </details>
       </div>
        
        <details>
            <summary>
              <span class="details__summary">Urgent appointments</span>
            </summary>
            <div class="details__content">
              <div class="callout callout--info">
                <p>Call {{ CURRENT_PRACTICE.name }} for an urgent appointment - dont wait untill you are registered.</p>
                <p>If they are closed, call 111 or go to a walk-in centre.</p>
              </div>
            </div>
          </details>

          <details>
            <summary>
              <span class="details__summary">Repeat prescription</span>
            </summary>
            <div class="details__content">
              <div class="callout callout--info">
                <p>Take your repeat prescription or medication to {{CURRENT_PRACTICE.name }} as soon as you can.</p>
                <p>If you’re running out, get 1 month’s supply from your current GP.</p>
              </div>
            </div>
          </details>

          <details>
            <summary>
              <span class="details__summary">If you're getting hospital treatment</span>
            </summary>
            <div class="details__content">
              <div class="callout callout--info">
                <p>Tell the hospital you’ve changed GP. </p>
                <p>Take a hospital letter or other information about your treatment to {{ CURRENT_PRACTICE.name }} as soon as you can.</p>
              </div>
            </div>
          </details>

          <div class="registation-survey__block">
            <p class="survey__title"> Tell us what you think</p>
            <div class="reading-width">
              <p class="survey__text"><a href="">Take a quick 30 second survey</a> to help improve the service.</p>
            </div>
          </div>
       </div>
       <div class="column--one-quarter-right registration-query">
          <p class="query__title">Any question ?</p>
         <div class="reading-width">
            <p class="query__text">If you have any questions about registering with your GP,  please contact {{CURRENT_PRACTICE.name}}.</p>
          </div>
       </div>
     </div>
  </div>


{% endblock %}