{% extends 'practices/end/default.njk' %}


{% block section_B %}
    <h2>Go to reception at {{ practice.name | default('the GP practice') }} with:</h2>

    <ul>
      <li>your NHS number if you haven’t already provided it</li>
      <li>your photo ID (for example photocard driving licence, passport, EU identity card) or birth certificate</li>
      <li>proof of your current address - for example a recent council tax bill, mortgage or tenancy agreement</li>
    </ul>

    <details>
      <summary>
        <span class="details__summary">If you don’t have a council tax bill, mortgage or tenancy agreement</span>
      </summary>
      <div class="details__content">
        <p>Take 2 documents with your current address. These must be dated in the past 3 months - they can include:</p>
        <ul>
          <li>gas, electricity or water bills</li>
          <li>mobile phone bills or contracts</li>
          <li>bank statements</li>
          <li>official documents, for example letters from a government department</li>
        </ul>
        <p>Tell {{ practice.name | default('the GP practice') }} if you don’t have any of these things.</p>
      </div>
    </details>
{% endblock %}

{% block what_to_do_next %}
  <p>To complete registration, go to the GP surgery with : </p>
  <ol>
    <li>Photo ID
      <p>Like a passport or driving licence</p>
    </li>

    <li>Proof of address
    <p>A council tax bill or tenancy/mortgage agreement or 2 of the following dated in last 3 months: bank statement, bill (like gas or mobile), official document (like a tax or benefit letter)</p>
    </li>
    <li>Your NHS number
    <p>find it on prescription doctor/hospital letters or call your old GP</p>
    </li>
  </ol>

  <p>You'll be then registered in [x] days.</p>
{% endblock %}
