{% set space = joiner(' ') %}
<div class="callout callout--info callout--medium">
  <p>
    {%- for name, line in data.name -%}
      {% if line -%}{{ space() | safe }}{{ line }}{%- endif %}
    {%- endfor %}
  </p>
</div>
