{% set linebreak = joiner('<br>') %}
<div class="callout callout--info callout--medium">
  <p>
    {%- for name, line in data.addressLookup -%}
      {% if line -%}{{ linebreak() | safe }}{{ line }}{%- endif %}
    {%- endfor %}
  </p>
</div>
