.button--secondary {
  @include button(#e6eff8);

  &:link,
  &:visited,
  &:focus,
  &:active,
  &:hover {
    border: 1px solid #ccdff1;
  }
}

.button--back {
  @include core-font(16);
  box-shadow: none;
  display: block;
  float: left;
  //line-height: 56px;
  padding: 0;
  text-align:left;

  @include media(tablet) {
    //line-height: 56px;
  }

  &:link,
  &:visited,
  &:focus,
  &:active,
  &:hover {
    background-color: transparent;
    color: $grey-1;
    text-decoration: underline;
  }

  &:before {
    content: "";
    border-bottom: 5px solid transparent;
    border-right: 5px solid $grey-1;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    margin-left: -13px;
    margin-right: 8px;
    position: relative;
    width: 0;

    @include media(tablet) {
      margin-left: 0;
    }
  }
}

.button + .button--back {
  @include media(tablet) {
    margin-left: 0;
    margin-right: $default-spacing-unit * 2;
  }
}
