.error-summary {
  padding : 16px 0px 24px 20px;           //top 20px= 16+ 4(lineht)
  border: $baseline-grid-unit*2 solid $red;
}

.error-summary__heading {
  @include bold-font(24);
}

.error-summary__list {
  list-style: none;
  padding-left: 0;
  padding-top:20px;
}

.error-summary__error-link {
  &:link,
  &:active,
  &:hover,
  &:visited {
    color: darken($red, 10);
  }
}
.error-summary li + li{
  margin-top:0px;
}
