.error-summary {
  @include element-padding;
  background-color: $red-10;
  border-top: $baseline-grid-unit solid $red;

  &:focus {
    outline: 3px solid $yellow;
  }
}

.error-summary__heading {
  @include bold-font(24);
}

.error-summary__list {
  list-style: none;
  padding-left: 0;
}

.error-summary__error-link {
  &:link,
  &:active,
  &:hover,
  &:visited {
    color: darken($red, 10);
  }
}

.callout--error{
  margin-bottom: 20px;
  clear: right;

  .error__title{
    @include bold-font(20);

    @include media(tablet) {
      @include bold-font(24);
    }
  }
  @include media(tablet) {
    margin-bottom: 30px;
    max-width: 75%;
  }
}
