.form-dropdown {
  @include core-font(20);
  appearance: none;
  border: ($baseline-grid-unit / 2) solid $blue;
  display: block;
  max-width: 540px;
  padding: 8px 0;
  width: 100%;
  line-height: 32px;
 

  &:focus {
    outline: 3px solid $yellow;
  }

  &.has-error {
    border-color: $red;
  }
  @include media(tablet) {
    padding: 9px 0;
  }
}
