.form-dropdown {
  @include core-font(16);
  appearance: none;
  border: ($baseline-grid-unit / 2) solid $blue;
  display: block;
  max-width: 540px;
  padding: 4px 0 4px 10px;
  width: 100%;
  line-height: 32px;
 

  &:focus {
    outline: 3px solid $yellow;
  }

  &.has-error {
    border-color: $red;
  }

  @include media(tablet) {
    @include core-font(20);
  }
}

select { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}


select {
  background-image:
   
    linear-gradient(135deg, #000 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, #000 50%);
    //linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 16px,
    calc(100% - 20px) 16px,
    calc(100% - 2.5em) 0.5em;
  background-size:
    6px 6px,
    6px 6px,
    2px 1.8em;
  background-repeat: no-repeat;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select::-ms-expand {
    display: none;
}