.form-line {
  padding-left: 4px;
}

#inputdiv-day.form-line {
  width: 70px;
  float: left;
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px !important;
}
#inputdiv-month.form-line {
  width: 70px;
  float: left;
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px !important;
}
#inputdiv-year.form-line {
  margin-top: 0px !important;
  padding: 0 4px 4px 4px;
  @include media(tablet) {
    width: 120px;
    float: left;
    display: inline-block;
  }
  @include media(mobile) {
    overflow: hidden;
  }
}

.form-textbox {
  @include core-font(16);
  appearance: none;
  border: ($baseline-grid-unit / 2) solid $blue;
  display: block;
  max-width: 540px;
  padding: $baseline-grid-unit;
  padding-left: 10px;
  width: 100%;

  &:focus {
    outline: 3px solid $yellow;
  }

  &.has-error {
    border-color: $red;
  }

  @include media(tablet) {
    @include core-font(20);
  }
}

textarea.form-textbox {
  background-image: linear-gradient(to bottom, $grey-3 1px, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% $baseline-grid-unit * 8;
}

.form-textbox--short {
  @include media(tablet) {
    width: 8em;
  }
}

.form-fields {
  clear: left;
  overflow: auto;
}

#armed-nested-container #inputdiv-day.form-line {
  padding-left: 0;
}

textarea.form-textbox {
  background-image: none;
  resize: none;
  display: inline-block;
}