.message {
    border-top: 2px solid #ffb81c;
    background-color: #fff8e8;
    color: #825900;
    padding: 32px;
}
.address-message {
  clear:both;
}
.address-message-elem {
  padding-right: 15px;
  display: inline-block;
}