$callout-line: #BFC1C3;
.form-fields {
	padding: 8px 0 4px 4px;
 	 
}
.page-section * + * {
	
	@include media(desktop) {
		margin-top: 10px;
	}
}
.global-footer__inner {
	padding-top: 30px;

}

.global-footer__inner:before {
	margin-bottom: 30px;
	
}

.global-footer * {
	line-height: 14px;
	padding-bottom: 10px;
}

.page-section {
	padding: 18px 5px 80px 0px;
	@include media(tablet) {
		padding: 26px 5px 80px 0px;
	}
    
}

.button--back {
	margin-left: 14px;
	padding-bottom: 14px;
	
	@include media(tablet) {
		margin-left: 0px;
		padding-bottom: 8px;
	}
} 

.form-title {
	font-weight: bold;
	@include media(tablet) {
		padding-bottom: 10px;
		line-height: 44px;
	}

	@include media(mobile) {
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 25px;
	}
}

.form-textbox, .form-dropdown {
	margin-top: 6px;

	@include media(tablet) {
		margin-top: 9px;
	}
}

.multiple-choise-horizontal, .multiple-choise-vertical {
	margin-bottom: 8px;
}

.details__content {
	margin-bottom: 20px;
}

.form-label {
	@include media(mobile) {
	line-height: 25px;
	font-size: 16px;
	}
}

.callout--compact,.callout--info {
	@include media(desktop) {
		margin: 30px 0px 10px 0px;
	}
	@include media(mobile) {
		margin: 10px 0;
	}
}
details {
	padding-top: 16px;
	.callout--info {
		margin : 0;
	}
}

.continue-step, .start-step-btn {
	padding-left: 3px;
	@include media(desktop) {
		margin-top: 40px;
		}
	@include media(mobile) {
		margin-top: 10px;
		}
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.error-summary {
	@include media(desktop) {
		margin-bottom: 36px;
	}
	@include media(mobile) {
		margin-bottom: 24px;
	}
}

.multiple-choice__container {
	padding: 10px 0 8px 0;
}
.nested-fields-container {
	border: solid $callout-line;
    border-width: 0 0 0 4px;
    padding: 10px 0 0 20px;
    margin-left: 0;

    #inputdiv-day, #inputdiv-month, #inputdiv-year {
    	float: none;
    }
}
.button {
	letter-spacing: 0px;
}
.callout--info {
	border-left: solid $callout-line;
}


