.form-fields {
	padding-top: 3px;
 	padding-left: 4px;
 	 
}
.global-footer__inner {
	padding-top: 30px;

}

.global-footer__inner:before {
	margin-bottom: 30px;
	
}

.global-footer * {
	line-height: 14px;
	padding-bottom: 10px;
}

.page-section {
	padding: 18px 5px 80px 0px;
	@include media(tablet) {
		padding: 26px 5px 80px 0px;
	}
    
}


.button--back {
	@include media(mobile) {
		margin-left: 14px;
		padding-bottom: 14px;
	}

	@include media(tablet) {
		padding-bottom: 22px;
	}
}
.page-section * + * {
	margin-top: 10px;
}

.form-title {

	@include media(desktop) {
		font-weight: bold;
		padding-bottom: 30px;
		line-height: 44px;
	}

	@include media(mobile) {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 25px;
	}
}

.form-textbox, .form-dropdown {
	margin-top: 6px;

	@include media(tablet) {
		margin-top: 9px;
	}
}

.multiple-choise-horizontal, .multiple-choise-vertical {
	margin-bottom: 28px;	
	padding-top: 4px;
}

.form-line {
	margin-bottom:20px;
}

.multiple-choice--checkbox, .details__content {
	margin-bottom: 20px;
}

.form-label {
	@include media(mobile) {
	line-height: 25px;
	font-size: 16px;
	}
}

.callout--compact,.callout--info {
	@include media(desktop) {
		margin: 30px 0px 10px 0px;
	}
	@include media(mobile) {
		margin: 10px 0px 10px 0px;
	}
}
details {
	padding:12px 0px;
}

.continue-step, .start-step-btn {
	padding-left: 3px;
	@include media(desktop) {
		margin-top: 20px;
		}
	@include media(mobile) {
		margin-top: 10px;
		}
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

legend {
	padding-bottom: 14px;
}

.pad-bottom20 {
	padding-bottom: 20px;
}

.error-summary {
	@include media(desktop) {
		margin-bottom: 36px;
	}
	@include media(mobile) {
		margin-bottom: 24px;
	}
}
.margin-btm20 {
	margin-bottom: 20px;
}
.multiple-choice__container {
	margin-bottom: 20px;
}

