$callout-line: #BFC1C3;
$button-color: #008038;
$confirm-block-backgroud: #F0F4F5;
$hint-text-color: #9B9B9B;

.form-fields {
	padding: 2px 0;

	@include media(tablet) {
		padding: 8px 0 4px 0;
	}
	 
}
.page-section * + * {
	margin-top: 10px;

	@include media(desktop) {
		margin-top: 10px;
	}
}
.global-footer__inner {
	padding-top: 30px;

}

.global-footer__inner:before {
	margin-bottom: 30px;
	
}

.global-footer * {
	line-height: 14px;
	padding-bottom: 10px;
}

.page-section {
	padding: 18px 5px 80px 0;
	@include media(tablet) {
		padding: 26px 5px 80px 0;
	}
    
}

.button--back {
	margin-left: 14px;
	line-height: 14px;
	font-size: 14px;

	@include media(tablet) {
		margin-left: 0;
		padding-bottom: 8px;
	}
} 

.form-title {
	font-weight: bold;
	@include media(tablet) {
		padding-bottom: 10px;
		line-height: 44px;
	}

	@include media(mobile) {
		font-size: 24px;
		padding-top: 5px;
		line-height: 29px;
	}
}

.form-textbox, .form-dropdown {
	margin-top: 6px;

	@include media(tablet) {
		margin-top: 9px;
	}
}

.multiple-choice-horizontal, .multiple-choice-vertical {
	margin-bottom: 8px;
}

.details__content {
	margin-bottom: 20px;
}

.form-label {
	@include media(mobile) {
	line-height: 25px;
	font-size: 16px;
	}
}

.callout--compact,.callout--info {

	margin-top: 25px;

	@include media(desktop) {
		margin: 30px 0 10px 0;
	}
}
details {
	padding-top: 10px;
	.callout--info {
		margin : 0;
	}

	@include media(tablet) {
		padding-top: 16px;
		font-size: 20px;
	}

	summary {
		font-size: 16px;
		@include media(tablet) {
			font-size: 20px;
		}
	}
}

.continue-step, .start-step-btn {
	margin-top: 25px;
	margin-left: 4px;

	@include media(desktop) {
		margin-top: 40px;
	}

	.button {
		background-color: $button-color;
	}
	
}

.start-step-btn {
	margin-bottom: 20px;
	@include media(desktop) {
		margin-bottom: 40px;
	}
}

.continue-step .button {
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		padding: 4px 24px;

	@include media(tablet) {
		font-size: 18px;
		padding: 4px 20px;

	}
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.error-summary {
	@include media(desktop) {
		margin-bottom: 36px;
	}
	@include media(mobile) {
		margin-bottom: 24px;
	}
}

.multiple-choice__container {
	padding: 10px 0 8px 4px;
}
.nested-fields-container {
	border: solid $callout-line;
    border-width: 0 0 0 3px;
    padding: 2px 0 0 20px;
    margin-left: 0;

    @include media(tablet) {
    	padding: 10px 0 0 20px;

    	#inputdiv-day, #inputdiv-month, #inputdiv-year {
    		float: none;
    	}
    }
}
.button {
	letter-spacing: 0px;
}
.callout--info {
	border-left: solid #BFC1C3;
}

#current-medication-nested-container .nested-inline-label * + * {
	margin-top: 20px;
}

.add-icon::before {
	content : "+";
	padding-right: 4px;
}

.add-element-link {
	font-size: 14px;
	color: #1260BB
}

#current-medication-nested-container .nested-input{
	@include media(mobile) {
		max-width: 260px;
	}
}

.callout p, .callout li, .register-gp-start p, .register-gp-start li, .signup-survey p, .signup-survey li {
	@include core-font(16);

	@include media(tablet) {
    	@include core-font(20);
  	}
}

.callout--medium {

	@include media(tablet) {
		width: 70%;
	}
}

.registered-address, .registered-name {
	margin-bottom: 20px;
}
.hint-text {
	padding-left: 4px;
	margin-bottom: 5px;
	color: $hint-text-color;
	@include core-font(16);

	@include media(tablet) {
		margin-bottom: 15px;
		@include core-font(20);
	}
}

.legend-hidden {
	display: none;
}

.signup-survey {
	.sub-header {
		margin-top: 25px;
		margin-bottom: 12px;
		@include bold-font(20);
		@include media(tablet) {
			@include bold-font(24);
		}
	}

	.signup-service-summary p + p {
		margin-top: 20px;
	}

	.page-section {
		@include media(tablet) {
			padding-top: 5px;
		}
	}
}
.start-survey-btn {
	margin: 30px 0 10px 0;
}
.gp-service-animation {
	@include media(tablet) {
		width: 650px;
	}
}