.summary {
  border-bottom: 1px solid $grey-2;
  margin-bottom: $baseline-grid-unit * 16;
}

.summary__title,
.summary__content,
.summary__control {
  border-bottom: 0;
  display: block;
  margin: 0;
  padding: $baseline-grid-unit * 2 0 0;
  vertical-align: top;

  @include media(tablet) {
    //border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    display: table-cell;
    padding: $baseline-grid-unit * 4 $baseline-grid-unit * 2;
  }

   @include media(desktop){
    @include core-font(20);
  }
  @include media(mobile){
    @include core-font(16);
    
  }
}

.summary__title {
  @include bold-font(16);
  //border-top: 1px solid $grey-2;
  //color: $grey-1;
  padding-top: $baseline-grid-unit * 4;

  @include media(tablet) {
    @include bold-font(20);
  }

  @include media(mobile){
    @include bold-font(16);
  }
}

.summary__control {
  padding-bottom: $baseline-grid-unit * 4;
  text-align: right;

  .button {
    @include core-font(16);
  }
}

.summary caption{
  @include media(mobile) {
    @include bold-font(20);
  }
   @include media(desktop) {
    @include bold-font(24);
  }
}

.summeryNote{
  padding-top:20px;
}