$summary-border :  #C7C7C7;

.summary {
  border-bottom: 1px solid $grey-2;
   margin-bottom: $baseline-grid-unit * 4;

  @include media(tablet) {
    max-width: 75%;
    margin-top: 44px;
    margin-bottom: $baseline-grid-unit * 16;
  }

  @include media(mobile) {
    tr {
      border-bottom: 1px solid $summary-border;
    }
  }
}

.summary__title,
.summary__content,
.summary__control {
  border-bottom: 0;
  margin: 0;
  padding: $baseline-grid-unit * 2 0 0;
  vertical-align: top;
  @include core-font(16);

  @include media(tablet) {
    border-bottom: 1px solid $summary-border;
    display: table-cell;
    padding: $baseline-grid-unit * 4 $baseline-grid-unit * 2;
  }

  @include media(desktop) {
    @include core-font(20);
  }
}

.summary__title {
  @include bold-font(16);
  @include media(tablet) {
    padding-top: $baseline-grid-unit * 4;
    @include bold-font(20);
  }

  @include media(mobile){
    @include bold-font(16);
    display: block;
  }
}

.summary__control {
  text-align: right;

  .button {
    @include core-font(16);
  }

  @include media(mobile) {
    a {
      position: relative;
      top: 0;
    }
  }
}

.summary caption{

  @include media(mobile) {
    @include bold-font(20);
    margin-bottom: 0px;
  }
   @include media(desktop) {
    @include bold-font(24);
    margin-bottom: 12px;
  }
}

.summary-note__title {
   @include bold-font(16);
   font-weight: bold;

   @include media(desktop) {
    @include bold-font(24);
  }
}

.summary-note__description {
  margin-top:15px;
   @include media(mobile) {
    @include core-font(16);
  }
}

.summary__content {
  @include media(mobile) {
    display: block;
    padding-bottom: 8px;
  }
}
