.close{
	float: right;
	width: 20px;
  	height: 20px;
  	border-radius: 50%;
	border-color: white;
  	border-style: solid;
  	background-color:white;
  	position: absolute;
  	top: 8px;
  	right:40px;
  
  	.close_cross {
		position: relative;
		left: 6px;
		top: 2px;
  	}
}
.close:hover{
	cursor: pointer;
}

.close_cross:after {
    content: '';
    height: 10px;
    border-left: 2px solid #005eb8;
    position: absolute;
    transform: rotate(45deg);
}

.close_cross:before {
    content: '';
    height: 10px;
    border-left: 2px solid #005eb8;
    position: absolute;
    transform: rotate(-45deg);
}