{% extends 'layouts/base.njk' %}

{% block head_title_content %}{{ title | render }} - NHS.UK{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    {% if prevStep %}
      <div class="form-group">
        <a href="{{ prevStep }}"  class="button button--back">Back</a>
      </div>
    {% endif %}
    {% component 'error-summary', { children: stepErrors } %}
    <h1 class="form-title">{{ title | render | safe }}</h1>
    <form method="post" id="current-step-form" class="{{key}}-form">
      <input type="hidden" name="csrf" value="{{csrf}}">
      <input type="hidden" id="selectedAddress1" value="">
      <input type="hidden" id="selectedAddress2" value="">
      <input type="hidden" id="selectedAddress3" value="">
      <input type="hidden" id="selectedTown" value="">
      <input type="hidden" id="selectedCounty" value="">
      <input type="hidden" id="practice" value="{{ CURRENT_PRACTICE.key }}">
      
      {% block formFields %}
        <div class="form-fields">
          {% for field in fields %}
            {% if field.componentType in ['textbox', 'multiple-choice', 'disclosure', 'dropdown', 'numeric', 'tel','radio-horizontal'] %}
              {% component 'form-' + field.componentType, {
            label: field.label,
            name: field.id,
            children: field.children,
            hint: field.hint,
            variant: field.variant,
            error: stepErrors[field.id].message | replace(stepErrors[field.id].label, ""),
            value: stepData[field.id],
            componentText: field.text
          } %}
            {% endif %}
          {% endfor %}
        </div>
        </ul> 
      {% endblock %}
      {% block confirm %}
        <div class="address-confirm">
          <span class="address-confirm-line" id="confirmAddress1"></span>
          <span class="address-confirm-line" id="confirmAddress2"></span>
          <span class="address-confirm-line" id="confirmAddress3"></span>
          <span class="address-confirm-line" id="confirmTown"></span>
          <span class="address-confirm-line" id="confirmCounty"></span>
          <div class="confirm-reset">reset x</div>
        </div>
      {% endblock %}
      {% block submitRow %}
        <div class="form-group">
          <button type="button" id="addressbutton" class="button">Continue</button>
        </div>
       <ul class="address-results">
      {% endblock submitRow %}

    </form>
  </div>
{% component 'analytics', {
  ga_client_ID: cid
  } %}
{% endblock body_main_content %}
