{% extends 'register-form/step.njk' %}

{% block formFields %}
  {% component 'form-multiple-choice', {
           type:  'radio',
           name:  'address',
           label: 'Select your address',
           children: addressOptions
         } %}
  <p>
    <a href="{{ REQUEST_AKA('register-form:address') }}">I can't find my address</a>
  </p>
{% endblock %}
