{% extends 'register-form/step.njk' %}

{% block formFields %}
  {% component 'form-multiple-choice', {
           type:  'radio',
           name:  'address',
           label: 'Select your address',
           value: value,
           children: addressOptions
         } %}
  <p>
    <a href="{{ REQUEST_AKA('address') }}">I can't find my address</a>
  </p>
{% component 'analytics', {
  ga_client_ID: cid,
  ge_user_ID: uid
  } %}      
{% endblock %}
