{% extends 'layouts/base.njk' %}

{% block head_title_content %}{{ title | render }} - NHS.UK{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    {% if prevStep %}
      <div class="form-group">
        <a href="{{ prevStep }}"  class="button button--back">Back</a>
      </div>
    {% endif %}
    {% component 'error-summary', { children: stepErrors } %}
    <h1 class="form-title">{{ title | render | safe }}</h1>
    <form method="post" id="current-step-form" class="{{key}}-form" >
      <input type="hidden" name="csrf" value="{{csrf}}">
      <input type="hidden" id="practice" value="{{ CURRENT_PRACTICE.key }}">
      
      {% block formFields %}
        <div class="form-fields" id="address-lookup__inline">
          {% for field in fields %}
            {% if field.componentType in ['textbox', 'multiple-choice', 'disclosure', 'dropdown', 'numeric', 'tel','radio-horizontal', 'hidden'] %}
              {% component 'form-' + field.componentType, {
            label: field.label,
            name: field.id,
            children: field.children,
            hint: field.hint,
            variant: field.variant,
            error: stepErrors[field.id].message | replace(stepErrors[field.id].label, ""),
            value: stepData[field.id],
            componentText: field.text
          } %}
            {% endif %}
          {% endfor %}
          
        </div>
        <div class="form-group addresslookup">
           <button type="button" id="addressbutton" class="button findAddress">Find address</button>
        </div>
        
      {% endblock %}
      {% block confirm %}
        <div class="confirm-block address-confirm" id="address-confirm">
          <span class="reset-address">
            <a href class="confirm-reset">Reset 
              <span="cross-icon">x</span> 
            </a>
          </span> 
          <div class="confirm-block-details">
           <p class="confirm-block-line"> <span id="confirmAddress1"></span>
            <span id="confirmAddress2"></span></p>
            <p class="confirm-block-line" id="confirmAddress3"></p>
            <p class="confirm-block-line" id="confirmTown"></p>
            <p class="confirm-block-line" id="confirmCounty"></p>
            <p class="confirm-block-line" id="confirmPostcode"></p>
          </div>
          
        </div>
      {% endblock %}
      {% block submitRow %}
        <div id="address-lookup-continue" class="form-group continue-step">
         
          <button type="submit" id="addresscontinue" class="button">Continue</button>
        </div>
       <ul class="address-results" id="address-results">
       </ul>
      {% endblock submitRow %}
      <details id="manualDiv">
        <summary>
          <span class="details__summary">I can't find my address, enter manually</span>
        </summary>
        <div id="manual-address-details" class="details__content">
          <div class="nested-fields-container">
            <div id="inputdiv-manualAddress1" class="form-line">
              <label for="input-locality" class="form-label">
                Address
              </label>
              <input type="text" class="form-textbox" id="manualAddress1" value="" />
            </div>
            <div id="inputdiv-manualAddress2" class="form-line">
              <input type="text" class="form-textbox" id="manualAddress2" value="" />
            </div>
             <div id="inputdiv-manualAddress3" class="form-line">
              <input type="text" class="form-textbox" id="manualAddress3" value="" />
            </div>
            <div id="inputdiv-manualTown" class="form-line">
              <label for="input-manualTown" class="form-label">
                Town or city
              </label>
              <input type="text" class="form-textbox" id="manualTown" value="" />
            </div>
            <div id="inputdiv-manualCounty" class="form-line">
              <label for="input-manualCounty" class="form-label">
                County
              </label>
              <input type="text" class="form-textbox" id="manualCounty" value="" />
            </div>
            <div id="inputdiv-manualPostcode" class="form-line">
              <label for="input-manualPostcode" class="form-label">
                Postcode
              </label>
              <input type="text"  class="form-textbox form-textbox--short" id="manualPostcode" value="" />
            </div>
            <div class="form-group continue-step">
            <button type="button" id="manualcontinue" class="button">Continue</button>
          </div>
          </div>
          </div>
          
        </details>
    </form>
  </div>
{% endblock body_main_content %}
