{% extends 'register-form/step.njk' %}

{% block formFields %}
  {% component 'gp-autocomplete', {
    label: 'Enter keywords',
    value: value } %}
    <p>
      <a class="button button--secondary" href="{{ REQUEST_AKA('manualGPAddress') }}">I can't find my GP</a>
    </p>
{% component 'analytics', {
  ga_client_ID: cid,
  ga_user_ID: uid
  } %}        
{% endblock %}
{% block submitRow %}
{% endblock submitRow %}