{% extends 'register-form/step.njk' %}

{% block formFields %}
  {% component 'gp-autocomplete', {
    label: 'Enter keywords',
    value: value } %}
    <p>
        <a href="{{ REQUEST_AKA('register-form:registedAddress') }}">Skip</a>
    </p>
{% endblock %}

{% block submitRow %}
{% endblock submitRow %}