{% extends 'layouts/base.njk' %}

{% block body_main_content %}
  <div class="page-section">
    <h1>{{ title }}</h1>

    <form action="" method="post">

      {% for field in fields %}
        {% component 'form-' + field.type, {
          label: field.label,
          name: field.id,
          children: field.children,
          error: '',
          value: stepData[field.id]
        } %}
      {% endfor %}

      <button type="submit" class="button">Continue</button>
      <a href="">Back</a>

    </form>
  </div>
{% endblock body_main_content %}
