{% extends 'layouts/base.njk' %}

{% block head_title_content %}{{ title | render }} - NHS.UK{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    {% if prevStep %}
      <div class="form-group">
        <a href="{{ prevStep }}"  class="button--back">Back</a>
      </div>
    {% endif %}


    {% component 'error-summary', { children: stepErrors } %}

    <h1 class="form-title">{{ title | render | safe }}</h1>

    <form method="post" id="current-step-form" class="{{key}}-form">
      <input type="hidden" name="csrf" value="{{csrf}}">

      {% if beforeTemplate %}
        {% include beforeTemplate %}
      {% endif %}
      {% if details %}
        {% if details.position =='above' %}
          {% set content = details.content %}
          <details>
            <summary>
              <span class="details__summary">{{ details.summary }}</span>
            </summary>
            <div class="details__content">
              <div class="callout callout--info">
                <p>{{ content | render() | safe }}</p>
              </div>
            </div>
          </details>
        {%endif %}
      {% endif %}
      {% block formFields %}
        <div class="form-fields">
          {% if details.hint %}
            <p class="hint-text">For example, 31 3 1980</p>
          {% endif %}
          {% for field in fields %}
            {% if field.componentType in ['textbox', 'multiple-choice', 'disclosure', 'dropdown', 'numeric', 'tel','radio-horizontal', 'nhs-number-radio', 'armed-radio-horizontal', 'nested-gp-lookup', 'current-medication-radio', 'allergies-nested-radio','nested-inline'] %}
               {% component 'form-' + field.componentType, {
                 label: field.label,
                 name: field.id,
                 children: field.children,
                 hint: field.hint,
                 variant: field.variant,
                 error: stepErrors[field.id].message | replace(stepErrors[field.id].label, ""),
                 value: stepData[field.id],
                 componentText: field.text,
                 stepErrors : stepErrors,
                 stepData : stepData,
                 field: field,
                 legendText: field.legendText,
                 legendClass: field.legendClass,
                 fieldset: field.fieldset,
                 fieldsetEnd: field.fieldsetEnd
               } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endblock %}
      {% if extraInfo %}
        <div class="callout callout--info callout--compact">
          <p>{{ extraInfo | render() | safe }}</p>
        </div>
      {% endif %}  
      {% if details %}
        {% if details.position == 'below' %}
          {% set content = details.content %}
          <details>
            <summary role="button">
              <span class="details__summary">{{ details.summary | render }}</span>
            </summary>
            <div class="details__content">
              <div class="callout callout--info">
                <p>{{ content | render() | safe }}</p>
              </div>
            </div>
          </details>
        {% endif %}
      {% endif %}

      {% block submitRow %}
        <div class="form-group continue-step">
          <button type="submit" class="button">{{ BUTTON_TEXT(key, 'Continue') }}</button>
        </div>
      {% endblock submitRow %}

    </form>
  </div>
{% endblock body_main_content %}
