{% extends 'layouts/base.njk' %}

{% macro row(title, fields, editDestination, multiline, separator=' ') -%}
  {% set join = joiner('<br>') if multiline else joiner(separator) %}

  <tr>
    <th class="summary__title" scope="row">{{ title }}</th>
    <td class="summary__content">
      {%- for name, line in fields -%}
        {% if line -%}{{ join() | safe }}{{ line | nl2br | safe }}{%- endif %}
      {%- endfor %}
    </td>
    <td class="summary__control">
      <a href="{{ GET_REDIRECT(editDestination) | safe }}" class="button button--secondary">Change <span class="util-visuallyhidden">{{ title }}</span></a>
    </td>
  </tr>
{%- endmacro %}

{% block body_main_content %}
  <div class="page-section">
    <h1 class="form-title">{{ title }}</h1>

    <table class="summary">
      {{ row('Name', data.name, 'name') }}
      {{ row('Sex', data.gender, 'gender') }}
      {{ row('Date of birth', data.dateOfBirth, 'dateOfBirth', false, '/') }}
      {{ row('Address', data.address, 'address', true) }}
      {{ row('Place of birth', data.countryAndTown, 'countryAndTown', true) }}
      {{ row('Contact Details', data.contactDetails, 'contactDetails', true) }}

      {% if data.nhsNumber['nhs-number-known'] %}
        {{ row('NHS number', data.nhsNumberDetails, 'nhsNumber', true) }}
      {% else %}
        {{ row('NHS number', {'empty': 'I don’t know my NHS number'}, 'nhsNumber') }}
      {% endif %}
    </table>
    <table class="summary">
      <caption>Armed forces</caption>
      {% if data.previouslyArmed['previously-armed'] %}
        {{ row('Staff number', data.armedStaffNumber, 'armedStaffNumber', true)}}
        {{ row('Enlist date', data.armedEnlistDate, 'armedEnlistDate', false, '/')}}
      {% else %}
        {{ row('Armed forces',{'empty': 'I haven’t served in the armed forces'}, 'previouslyArmed' )}}
      {% endif %}
  </table>
    <table class="summary">
      <caption>Your current GP</caption>

      {% if data.previouslyRegistered['previously-registered'] %}

        {% if data.manualGPAddress['gpName'] %}
            {{ row('Current GP', data.manualGPAddress, 'manualGPAddress', true) }}

        {% else %}
            {{ row('Current GP', data.currentGP, 'currentGP', true) }}
        {% endif %}

        {% if data.registedAddress['registered-address-correct'] %}
          {{ row('Registered address', data.address, 'registedAddress', true) }}
        {% else %}
          {{ row('Registered address', data.registeredAddressDetails, 'registedAddress', true) }}
        {% endif %}

        {% if data.registeredName['registered-name-correct'] %}
          {{ row('Registered name', data.name, 'registeredName') }}
        {% else %}
          {{ row('Registered name', data.registeredNameDetails, 'registeredName') }}
        {% endif %}
      {% else %}
        {{ row('Current GP', {'empty': 'I’m not registered with a GP'}, 'previouslyRegistered') }}
      {% endif %}
    </table>

    <table class="summary">
      <caption>Your health</caption>

      {% if data.currentMedication['current-medication'] %}
        {{ row('Medication', data.medicationDetails, 'currentMedication', true) }}
      {% else %}
        {{ row('Medication', {'empty': 'I’m not currently taking any medication'}, 'currentMedication') }}
      {% endif %}

      {% if data.allergies['any-allergies'] %}

        {{ row('Allergies', data.allergiesDetails, 'allergies', true) }}
      {% else %}
        {{ row('Allergies', {'empty': 'I don’t have any allergies'}, 'allergies') }}
      {% endif %}

      {% if (data.medicalHistory['medical-history']) or (data.medicalHistory['history-chosen']) or (data.medicalHistory['medical-history-details']) %}
        {{ row('Health', data.medicalHistory, 'medicalHistory', true) }}

      {% else %}
        {{ row('Health', {'empty': 'I’m not supplying any health details'}, 'medicalHistory') }}
      {% endif %}
    </table>

    <form id="sendForm" name="sendForm" method="post">
      <input type="hidden" name="csrf" value="{{csrf}}">
      <button type="submit" id="sendBtn" class="button">Send my details</button>
    </form>

    <p>
      Your details will be sent to {{ CURRENT_PRACTICE.name | default('the GP practice') }} to begin your registration.
      {% if data.email.email %}
        A confirmation email will be sent to {{ data.email.email }}.
      {% endif %}
    </p>
  </div>
{% component 'analytics', {
  ga_client_ID: cid
  } %}      
{% endblock body_main_content %}
