{% extends 'layouts/base.njk' %}

{% macro row(title, fields, multiline, separator=' ') -%}
  {% set join = joiner('<br>') if multiline else joiner(separator) %}

  <tr>
    <th class="summary__title" scope="row">{{ title }}</th>
    <td class="summary__content">
      {%- for name, line in fields -%}
        {% if line -%}{{ join() | safe }}{{ line }}{%- endif %}
      {%- endfor %}
    </td>
    <td class="summary__control">
      <a href="" class="button button--secondary">Change <span class="util-visuallyhidden">{{ title }}</span></a>
    </td>
  </tr>
{%- endmacro %}

{% block body_main_content %}
  <div class="page-section">
    <h1 class="form-title">{{ title }}</h1>

    <table class="summary">
      {{ row('Name', data.name) }}
      {{ row('Date of birth', data.dateOfBirth, false, '/') }}
      {{ row('Address', data.address, true) }}
      {{ row('Email', data.email, true) }}
      {{ row('Telephone', data.telephone, true) }}
      {% if data.previouslyRegistered['previously-registered'] %}
        {{ row('Previous registered address', data.previousAddress, true) }}
        {{ row('Previous registered name', data.previousName) }}
      {% endif %}
      {% if data.nhsNumber['nhs-number-known'] %}
        {{ row('NHS number', data.nhsNumberDetails, true) }}
      {% endif %}
      {% if data.currentMedication['current-medication'] %}
        {{ row('Medication', data.medicationDetails, true) }}
      {% endif %}
      {% if data.allergies['any-allergies'] %}
        {{ row('Alergies', data.allergiesDetails, true) }}
      {% endif %}
    </table>

    <form method="post">
      <input type="hidden" name="csrf" value="{{csrf}}">
      <button type="submit" class="button">Send my details</button>
    </form>

    <p>
      Your details will be sent to {{ PRACTICE_NAME }} to begin your registration.
      {% if data.email.email %}
        A confirmation email will be sent to {{ data.email.email }}.
      {% endif %}
    </p>
  </div>
{% endblock body_main_content %}
