{% extends 'layouts/base.njk' %}

{% macro row(title, fields, multiline, separator=' ') -%}
  {% set join = joiner('<br>') if multiline else joiner(separator) %}

  <tr>
    <th class="summary__title" scope="row">{{ title }}</th>
    <td class="summary__content">
      {%- for name, line in fields -%}
        {% if line -%}{{ join() | safe }}{{ line | nl2br | safe }}{%- endif %}
      {%- endfor %}
    </td>
    <td class="summary__control">
      <a href="" class="button button--secondary">Change <span class="util-visuallyhidden">{{ title }}</span></a>
    </td>
  </tr>
{%- endmacro %}

{% block body_main_content %}
  <div class="page-section">
    <h1 class="form-title">{{ title }}</h1>

    <table class="summary">
      {{ row('Name', data.name) }}
      {{ row('Date of birth', data.dateOfBirth, false, '/') }}
      {{ row('Address', data.address, true) }}
      {% if data.email.email %}
        {{ row('Email', data.email, true) }}
      {% else %}
        {{ row('Email', {'empty': 'I’m not providing an email address'}) }}
      {% endif %}
      {{ row('Telephone', data.telephone, true) }}
      {% if data.nhsNumber['nhs-number-known'] %}
        {{ row('NHS number', data.nhsNumberDetails, true) }}
      {% else %}
        {{ row('NHS number', {'empty': 'I don’t know my NHS number'}) }}
      {% endif %}
    </table>

    <table class="summary">
      <caption>Your current GP</caption>

      {% if data.previouslyRegistered['previously-registered'] %}
        {{ row('Current GP', data.currentGP, true) }}
        {% if data.registedAddress['registered-address-correct'] %}
          {{ row('Registered address', data.address, true) }}
        {% else %}
          {{ row('Registered address', data.registeredAddressDetails, true) }}
        {% endif %}

        {% if data.registeredName['registered-name-correct'] %}
          {{ row('Registered name', data.name) }}
        {% else %}
          {{ row('Registered name', data.registeredNameDetails) }}
        {% endif %}
      {% else %}
        {{ row('Current GP', {'empty': 'I’m not registered with a GP'}) }}
      {% endif %}
    </table>

    <table class="summary">
      <caption>Your health</caption>

      {% if data.currentMedication['current-medication'] %}
        {{ row('Medication', data.medicationDetails, true) }}
      {% else %}
        {{ row('Medication', {'empty': 'I’m not currently taking any medication'}) }}
      {% endif %}

      {% if data.allergies['any-allergies'] %}
        {{ row('Alergies', data.allergiesDetails, true) }}
      {% else %}
        {{ row('Alergies', {'empty': 'I don’t have any allergies'}) }}
      {% endif %}

      {% if data.medicalHistory['medical-history'] %}
        {{ row('Health', data.medicalHistory, true) }}
      {% else %}
        {{ row('Health', {'empty': 'I’m not supplying any health details'}) }}
      {% endif %}
    </table>

    <form method="post">
      <input type="hidden" name="csrf" value="{{csrf}}">
      <button type="submit" class="button">Send my details</button>
    </form>

    <p>
      Your details will be sent to {{ CURRENT_PRACTICE.name | default('the GP practice') }} to begin your registration.
      {% if data.email.email %}
        A confirmation email will be sent to {{ data.email.email }}.
      {% endif %}
    </p>
  </div>
{% endblock body_main_content %}
