{% extends 'nhsuk-base.njk' %}
{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ cssBundle }}" media="screen" type="text/css">
{% endblock %}

{% block body_notifications %}

{% if showNotifications %}
    <div class="notification-banner notification-info util-print-hide" id="global-cookies-banner" role="alert">
        <p class="notification-banner__inner">
            NHS.UK uses cookies to make the site simpler.
            <a href="https://beta.nhs.uk/help/cookies" id="cookieLink">Find out more about cookies</a>
        </p>
    </div>
{% endif %}

    <div class="notification-banner notification-error notification-banner--js-hidden util-print-hide" id="global-cookies-banner" role="alert">
        <p class="notification-banner__inner">
            Cookies are turned off in your web browser. You need to enable cookies to start your application.
        </p>
    </div>
{% endblock %}

{% block body_footer %}
  {{ super() }}
  <script src="{{ jsBundle }}" type="application/javascript"></script>
{% endblock body_footer %}
