{% extends 'nhsuk-base.njk' %}
{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ cssBundle }}" media="screen" type="text/css">
{% endblock %}

{% block body_notifications %}

{% if showNotifications %}
    <div class="notification-banner notification-info util-print-hide" id="global-cookies-banner" role="alert">
        <p class="notification-banner__inner">
            NHS.UK uses cookies to make the site simpler.
            <a href="https://beta.nhs.uk/help/cookies" id="cookieLink">Find out more about cookies</a>
        </p>
        <span class="close"><span class="close_cross"></span></span>
    </div>
{% endif %}

    <div class="notification-banner notification-error notification-banner--js-hidden util-print-hide" id="global-cookies-banner" role="alert">
        <p class="notification-banner__inner">
            Cookies are turned off in your web browser. You need to enable cookies to start your application.
        </p>
    </div>
{% endblock %}
{% block body_site_header %}
  <header role="banner">
    <div class="global-header">
      <div class="global-header__inner">
        {% if CURRENT_PRACTICE %}
          <a href="/{{ CURRENT_PRACTICE.key }}/start" class="">
            <img src="{{ asset_path('assets/images/logotype-nhs-colour.png') }}" alt="NHS">
          </a>
        {% else %}
          <a href="/" class="">
            <img src="{{ asset_path('assets/images/logotype-nhs-colour.png') }}" alt="NHS">
          </a>
        {% endif %}
        {% block header_service_title %}
          {% if serviceTitle %}
            {% include 'layouts/header.njk'%}
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% if showNotifications %}
      <div class="beta-service">
        <div class="beta-service__inner">
          <img src="/static/BETA.svg" class="beta-sevice-icon">
          <p class="beta-service-title"> This is a new service.</p>
        </div>
      </div>
    {% endif %}
  </header>
{% endblock %}

{% block body_footer %}
  {{ super() }}
  <script src="{{ jsBundle }}" type="application/javascript"></script>
  {% component 'analytics', { events: ga_events } %}      
{% endblock body_footer %}
