<html>
<head>

</head>
<body>
{%- macro render_one_line(title, fields) %}
  {{ title }}:
  {% for name, line in fields %}
    {% if line %}<p>{{ line | nl2br | safe }}</p>{% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_multi_line(title, fields, hiddenFields=[]) %}
  {% set join = joiner('<br>') %}
    <p>
  {{ title }}:
    </p>
    <p>
  {% for name, line in fields %}
    {% if not name in hiddenFields %}
      {%if line %}
  {{ join() | safe }}{{ line | nl2br | safe }}
      {% endif %}
    {% endif %}
  {% endfor %}
    </p>
{% endmacro %}

<p>GP registration application</p>
<br>
<p>{{ render_one_line('Name', data.name) }}</p>
<p>{{ render_one_line('Sex', data.gender) }}</p>
<hr>
<p>Date of Birth: {{ data.dateOfBirth['day'] }}/{{ data.dateOfBirth['month'] }}/{{ data.dateOfBirth['year'] }}</p>
{{ render_one_line('Place of birth', data.countryAndTown) }}
<hr>
{{ render_multi_line('Address', data.address) }}
{{ render_multi_line('Contact Details', data.contactDetails) }}
<hr>
{% if data.nhsNumber['nhs-number-known'] -%}
{{ render_multi_line('NHS number', data.nhsNumber) }}
{% else -%}
{{ render_one_line('NHS number', {'empty': 'I don’t know my NHS number'}) }}
{%- endif %}
<hr>
{% if data.previouslyArmed['previously-armed'] -%}
Armed force

<p>{{ render_one_line('Staff number', data.armedStaffNumber) }}</p>
<p>Enlist date:{{ data.armedEnlistDate['year'] }}/{{ data.armedEnlistDate['month'] }}/{{ data.armedEnlistDate['day'] }}</p>
<hr>
{%- endif %}
Your current GP

{% if data.previouslyRegistered['previously-registered'] -%}

  {% if data.previouslyRegistered['gpName'] %}

      {% set selectedGPData = {'gp-name': data.previouslyRegistered['gpName'], 'gp-address': data.previouslyRegistered['gpAddress']} %}

      <p>{{ render_multi_line('Current GP', selectedGPData) }}</p>
  {% else %}
      <p>{{ render_multi_line('Current GP', data.previouslyRegistered, ['previously-registered']) }}</p>
  {% endif %}

  {% if data.registedAddress['registered-address-correct'] %}
    <p>{{ render_multi_line('Registered address', data.address) }}</p>
  {% else %}
    <p>{{ render_multi_line('Registered address', data.registeredAddressDetails) }}</p>
  {% endif %}

  {% if data.registeredName['registered-name-correct'] %}
    <p>{{ render_one_line('Registered name', data.name) }}</p>
  {% else %}
    {{ row('Registered name', data.registeredNameDetails, 'registeredName') }}
  {% endif %}
{% else %}
  <p>{{ render_one_line('Current GP', {'empty': 'I’m not registered with a GP'}) }}</p>
{% endif %}

<hr>
Your health

{% if data.currentMedication['current-medication'] %}
  <p>{{ render_multi_line('Medication', {'medicationDetails': data.currentMedication['medications']}) }}</p>
{% else %}
  <p>{{ render_one_line('Medication', {'empty': 'I’m not currently taking any medication'}) }}</p>
{% endif %}

{% if data.allergies['any-allergies'] %}
  <p>{{ render_multi_line('Allergies', {'allergies-list': data.allergies['allergies']}) }}</p>
{% else %}
  <p>{{ render_one_line('Allergies', {'empty': 'I don’t have any allergies'}) }}</p>
{% endif %}

{% if (data.medicalHistory['medical-history']) or (data.medicalHistory['history-chosen']) or (data.medicalHistory['medical-history-details']) %}
  <p>{{ render_multi_line('Health', data.medicalHistory) }}</p>

{% else %}
  <p>{{ render_one_line('Health', {'empty': 'I’m not supplying any health details'}) }}
{% endif %}


Thank you.
</body>
</html>