{%- macro render_one_line(title, fields) -%}
  {{ title }}:
  {% for name, line in fields -%}
    {% if line %}  {{ line | nl2br }} {% endif %}
  {%- endfor -%}
{%- endmacro -%}

{%- macro render_multi_line(title, fields) -%}
  {{ title }}:
  {%- for name, line in fields -%}
    {%- if line %}
    {{ line }}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

Hello,

{{ render_one_line('Name', data.name) }}
{{ render_one_line('Gender', data.gender) }}

Date of Birth: {{ data.dateOfBirth['year'] }}/{{ data.dateOfBirth['month'] }}/{{ data.dateOfBirth['day'] }}

{{ render_multi_line('Address', data.address) }}

{{ render_multi_line('Contact Details', data.contactDetails) }}

{% if data.nhsNumber['nhs-number-known'] -%}
  {{ render_one_line('NHS number', data.nhsNumberDetails) }}
{% else -%}
  {{ render_one_line('NHS number', {'empty': 'I don’t know my NHS number'}) }}
{%- endif %}

Armed force
===========

{% if data.previouslyArmed['previously-armed'] -%}
  {{ render_one_line('Staff number', data.armedStaffNumber) }}
  {{ render_one_line('Enlist date', data.armedEnlistDate) }}
  Enlist date: {{ data.armedEnlistDate['year'] }}/{{ data.armedEnlistDate['month'] }}/{{ data.armedEnlistDate['day'] }}
{%- endif %}

Your current GP
===============

{% if data.previouslyRegistered['previously-registered'] %}

  {% if data.manualGPAddress['gpName'] %}
    {{ render_one_line('Current GP', data.manualGPAddress) }}
  {% else %}
    {% set selectedGPData = {'gp-name': data.previouslyRegistered['gpName'], 'gp-address': data.previouslyRegistered['gpAddress']} %}
    {{ render_one_line('Current GP', selectedGPData) }}
  {% endif %}

  {% if data.registedAddress['registered-address-correct'] %}
    {{ render_one_line('Registered address', data.address) }}
  {% else %}
    {{ render_one_line('Registered address', data.registeredAddressDetails) }}
  {% endif %}
  {% if data.registeredName['registered-name-correct'] %}
    {{ render_one_line('Registered name', data.name) }}
  {% else %}
    {{ render_one_line('Registered name', data.registeredNameDetails) }}
  {% endif %}
{% else %}
  {{ render_one_line('Current GP', {'empty': 'I’m not registered with a GP'}) }}
{% endif %}
    
Your health
===========

{% if data.currentMedication['current-medication'] %}
  {{ render_multi_line('Medication', {'medicationDetails': data.currentMedication['medications']}, true) }}
{% else %}
  {{ render_one_line('Medication', {'empty': 'I’m not currently taking any medication'}) }}
{% endif %}

{% if data.allergies['any-allergies'] %}
  {{ render_multi_line('Allergies', {'allergies-list': data.allergies['allergies']}, true) }}
{% else %}
  {{ render_one_line('Allergies', {'empty': 'I don’t have any allergies'}) }}
{% endif %}

{% if (data.medicalHistory['medical-history']) or (data.medicalHistory['history-chosen']) or (data.medicalHistory['medical-history-details']) %}
  {{ render_multi_line('Health', data.medicalHistory, true) }}
{% else %}
  {{ render_one_line('Health', {'empty': 'I’m not supplying any health details'}) }}
{% endif %}

Thank you.
