{%- macro render_one_line(title, fields) -%}
  {{ title }}:
  {% for name, line in fields -%}
    {% if line %}  {{ line | nl2br }} {% endif %}
  {%- endfor -%}
{%- endmacro -%}

{%- macro render_multi_line(title, fields) -%}
  {{ title }}:
  {%- for name, line in fields -%}
    {%- if line %}
    {{ line }}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

Hello,

{{ render_one_line('Name', data.name) }}

Date of Birth:
    {{ formatDate(data.dateOfBirth['year'], data.dateOfBirth['month'],
        data.dateOfBirth['day']) }}

{{ render_multi_line('Address', data.address) }}

{% if data.email.email -%}
{{ render_multi_line('Email', data.email) }}
{% else -%}
{{ render_one_line('Email', {'empty': 'I’m not providing an email address'}) }}
{%- endif %}

{% if data.nhsNumber['nhs-number-known'] -%}
{{ render_multi_line('NHS number', data.nhsNumber) }}
{% else -%}
{{ render_one_line('NHS number', {'empty': 'I don’t know my NHS number'}) }}
{%- endif %}

{{ render_multi_line('Telephone', data.telephone) }}

Your current GP
===============

{% if data.previouslyRegistered['previously-registered'] -%}
{{ render_one_line('Current GP', data.currentGP) }}
{% if data.registedAddress['registered-address-correct'] -%}
{{ render_multi_line('Registered address', data.address) }}
{% else -%}
{{ render_multi_line('Registered address', data.registeredAddressDetails) }}
{%- endif %}
{% if data.registeredName['registered-name-correct'] -%}
{{ render_one_line('Registered name', data.name) }}
{% else -%}
{{ render_one_line('Registered name', data.registeredNameDetails) }}
{%- endif %}
{% else -%}
  {{ render_one_line('Current GP', {'empty': 'I’m not registered with a GP'}) }}
{%- endif %}

Your health
===========

{% if data.currentMedication['current-medication'] %}
  {{ render_multi_line('Medication', data.medicationDetails, true) }}
{% else %}
  {{ render_one_line('Medication', {'empty': 'I’m not currently taking any medication'}) }}
{% endif %}

{% if data.allergies['any-allergies'] %}
  {{ render_multi_line('Alergies', data.allergiesDetails, true) }}
{% else %}
  {{ render_one_line('Alergies', {'empty': 'I don’t have any allergies'}) }}
{% endif %}

{% if data.medicalHistory['medical-history'] %}
  {{ render_multi_line('Health', data.allergiesDetails, true) }}
{% else %}
  {{ render_one_line('Health', {'empty': 'I’m not supplying any health details'}) }}
{% endif %}

Thank you.
