<p>To complete registration, go to the GP surgery with : </p>
  <ol>
    <li>Photo ID
      <p>Like a passport or driving licence</p>
    </li>

    <li>Proof of address
    <p>A bill less than three months old</p>
    </li>
    <li>Your NHS number
    <p>find it on prescription doctor/hospital letters or call your old GP</p>
    </li>
  </ol>
<p class="registration-days">You'll be then registered in [x] days.</p>