{##
 # Family: Display
 #
 # @param {object|array} [children] An array or object of errors
 #
 # @return {string} HTML for error summary
 #
 # @example
 #   {% component 'errory-summary', {
 #     children:  [{'error-field': 'Error message'}]
 #   } %}
 #}
{% if children %}
  <div class="callout callout--error">
        <p class="error__title">There was a problem submitting this page</p>
        {% if children %}
      <ul class="error-summary__list">
        {% for key, error in children -%}
          <li class="error-summary__error">
            <a href="#input-{{ key }}"  class="error-summary__error-link">
              {{ error.message | safe | fulldateerror }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    {% endif %}
      </div>
{% endif %}
