{##
 # Family: Control
 #
 # @param {string} [label]    Label for the form element
 # @param {string} [name]     Name for the form element
 #
 # @param {string} [value]    The current value - Used to prefill the field (optional)
 # @param {string} [error]    Whether to display an error on the field (optional)
 # @param {bool}   [optional] Whether the field is optional or not (optional)
 # @param {array}  [options]  List values 
 #
 # @return {string} HTML for dropdown
 #
 # @example
 #   {% component 'dropdown', {
 #     label: 'Title',
 #     name:  'name-title',
 #     options: { text: 'Mr', value: 'Mr'},
 #              { text: 'Mrs', value: 'Mrs'}
 #   } %}
 #}
{% set hintId = 'hint-' + name %}

{% if fieldset %}
  <fieldset id="fieldset-{{ name }}">
    <legend class="{{ legendClass }}">{{legendText}}</legend>
{% endif %}
    <div id="inputdiv-{{ name }}" class="form-line">
    {% if label or error or hint %}
      <label for="input-{{ name }}" class="form-label">
        {{ label }} {% if optional %}(optional){% endif %}
        {% if hint %}
          <span class="form-label__hint" id="{{ hintId }}">{{ hint }}</span>
        {% endif %}
      </label>
    {% endif %}

    {% if value %}

    {% endif %}
      <select
        name="{{ name }}"
        id="input-{{ name }}"
        class="form-dropdown{{ ' has-error' if error }}"
      >
      {% for c in children %}
        {% if value %}
          {% set isSelected = (value | string == c.value | default('')) %}
        {% endif %}
        <option value="{{ c.value }}" {% if isSelected %}selected="selected"{% endif %}>
          {{ c.label }}
        </option>
      {% endfor %}

      </select>
    </div>
  {% if fieldsetEnd %}
  </fieldset>
  {% endif %}
