{##
 # Family: Control
 #
 # @param {string}       [variant]  Type of choice (radio|checkbox)
 # @param {string}       [label]    Label for the form elements
 # @param {string}       [name]     Name for the form group
 # @param {array}        [children] List of options to display
 #
 # @param {string}       [hint]     Hint text for the field (optional)
 # @param {bool}         [inline]   Whether to display the choices inline (optional)
 # @param {string|array} [value]    The current value. Used to determine whether to precheck a field (optional)
 # @param {string}       [error]    Whether to display an error on the field (optional)
 # @param {bool}         [optional] Whether the field is optional or not (optional)
 #
 # @return {string} HTML for multiple choice options
 #
 # @example
 #   {% component 'form-multiple-choice', {
 #     type:  'radio',
 #     label: 'Which option is your favourite?',
 #     name:  'favourites',
 #     children: [{
 #       label: 'Option 1',
 #       value: '1'
 #     }, {
 #       label: 'Option 2',
 #       value: '2'
 #     }]
 #   } %}
 #}
{% set hintId = 'hint-' + name %}

<fieldset id="fieldset-{{ name }}">
  <legend class="legend-hidden" id="group-{{ name }}">Have you served in the armed forces?</legend>

  <div class="multiple-choice__container">
    {% for option in children %}
      {% set inputValue = option.value if 'value' in option else option.label %}
      {% set inputId = ['input', name, loop.index] | join('--') %}

      {% if variant == 'checkbox' %}
        {% set isSelected = (value and (inputValue in value)) %}
      {% else %}
        {% set isSelected = (inputValue | string == value | default('') | string) %}
      {% endif %}
      
      <label
        for="{{ inputId }}"
        class="multiple-choice multiple-choice--{{ variant | default('radio') }}{{ ' multiple-choice--inline' if inline }}{{ ' has-error' if error }} multiple-choice-radio-horizontal nested-radio-button"
        data-label="{{ option.label }}" data-show-nested-fields="{{ option.show_nested_fields }}"
      >
        {{ option.label }}
        <input
          type="{{ variant | default('radio') }}"
          name="{{ name }}"
          id="{{ inputId }}"
          value="{{ inputValue }}"
          class="multiple-choice__input"
          {% if isSelected %}
            checked="checked"
          {% endif %}
          {% if hint %}
            aria-describedby="{{ hintId }}"
          {% endif %}
        >
      </label>
    {% endfor %}
  </div>

  {% if field.nestedFields %}
        {% set showNestedField = (field.nestedFieldVisibleValue|string === value|default('')|string) %}

        <div id="armed-nested-container" style="{{ 'display:none' if not showNestedField }}" class="nested-fields-container">
            {% for f in field.nestedFields %}
                {% set nestedFieldError = stepErrors[f.key].message | replace(stepErrors[f.key].label, "") %}
                 {% if f.key == "day" %}
                    <div class="form-label">Enlistment Date</div>
                {% endif %}
                <div id="inputdiv-{{ f.key }}" class="{{f.class}}">

                <label for="input-{{ f.key }}" class="form-label">
                    {{ f.label }}
                    <input type="number" name="{{ f.key }}" id="input-{{ f.key }}"
                    class="form-textbox {{ ' has-error' if nestedFieldError }} form-nested-{{ f.key }}"
                    value="{{ stepData[f.key] | default('') }}">
                </label>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</fieldset>
