<div class="form-control">
	<input type="text" id="gp-search" class="form-textbox" placeholder="{{ label }}" autocomplete="off">
</div>
<input type="hidden" name="gpCode" id="gp-code">
<input type="hidden" name="gpName" id="gp-name">
<input type="hidden" name="gpAddress" id="gp-address">

<ul class="gp-results">
</ul>

