<p>To complete registration, go to the GP surgery with : </p>
  <ol>
    <li>Photo ID
      <p>Like a passport or driving licence</p>
    </li>

    <li>Proof of address
    <p>A council tax bill or tenancy/mortgage agreement or 2 of the following dated in last 3 months: bank statement, bill (like gas or mobile), official document (like a tax or benefit letter)</p>
    </li>
    <li>Your NHS number
    <p>find it on prescription doctor/hospital letters or call your old GP</p>
    </li>
  </ol>
<p class="registration-days">You'll be then registered in [x] days.</p>