
<p class="registration-days">You'll be then registered in [x] days.</p>

<p>It helps the GP surgery if they have your NHS number. </p>

<p>Try to give it to them if you haven’t already. You can find it on prescriptions, doctor/hospital letters or call your old GP.</p>