{% extends 'layouts/base.njk' %}

{% set serviceTitle = '' %}

{% block body_main_content %}
  <div class="local-header">
    <h1 class="local-header__title">Apply to register with {{ CURRENT_PRACTICE.name | default('a GP practice') }}</h1>

  </div>

  <div class="page-section">
    <div class="reading-width">
      <p>
      You can apply online to start your registration with {{ CURRENT_PRACTICE.name | default('a GP practice') }}. You’ll need to complete your registration in person.
      </p>
      <section class="callout callout--info">
        <div class="reading-with">
          <p>
          You can’t currently apply online for someone else, for example a child or a person you care for - register in person at {{ CURRENT_PRACTICE.name }}, {{ CURRENT_PRACTICE.address }}  instead.
          </p>
          </div>
      </section>
      <p>Applying online takes about 10 minutes.</p>
      <h3>Completing your registration</h3>
      <p>
        After you apply online, you’ll need to go in person to {{ CURRENT_PRACTICE.address }} with proof of your identity and address.
      </p>
      <p>
        It then usually takes {{ CURRENT_PRACTICE.regdays }} days to be registered. {{ CURRENT_PRACTICE.name }} will contact you if there’s a problem.
      </p>
      <section class="callout callout--info">
        <div class="reading-with">
          <p>      
            Some GP practices only register patients who live in the local area. Check with {{ CURRENT_PRACTICE.name }} if you’re unsure.
          </p>
        </div>
      </section>

      <a href="/register/name" class="button">Start</a>
    </div>
  </div>
{% endblock %}
