{% extends 'practices/start/default.njk' %}

{% block how_long_takes_paragraph %}
  Applying online takes about 10 minutes. It usually takes {{ CURRENT_PRACTICE.regdays }} days after that before you’re registered.
{% component 'analytics', {
  ga_client_ID: cid,
  ga_user_id: uid
  } %}      
{% endblock %}


