{% extends 'layouts/base.njk' %}

{% block body_main_content %}
  <div class="page-section">
    <h1 class="heading-medium">Thank you for applying to register</h1>

    <div class="reading-width">
      <p>They are dealing with your registration application. They will contact
        you about it when they have completed processing it.</p>

      <div class="callout callout--attention">
        <p><strong>If you need to see a doctor sooner, contact the practice or <a href="http://www.nhs.uk/service-search">find
          other NHS services that can help you</a>.</strong></p>
      </div>

      <p><a href="javascript:window.print();">Print this page</a></p>

      <p><a href="https://www.nhs.uk/">Back to NHS.UK</a></p>
    </div>
  </div>
{% endblock %}
