{% extends 'layouts/base.njk' %}

{% block body_main_content %}
  <div class="local-header">
    <h1 class="local-header__title">Apply to register with your practice</h1>
  </div>

  <div class="page-section">
    <a href="/register/what-is-your-name" class="button">Start</a>
  </div>
{% endblock %}
