{% extends 'layouts/base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ cssBundle }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <p>Time: {{ time }}</p>

    {% macro render_dialog(title, class='dialog') -%}
      <div class="{{ class }}">
        <h2>{{ title }}</h2>
        <div class="contents">
          {{ caller() }}
        </div>
      </div>
    {%- endmacro %}

    {% call render_dialog('Hello Macros') %}
      This is a simple dialog rendered by using a macro and
      a call block.
    {% endcall %}
  </div>
{% endblock %}
