{% extends 'layouts/base.njk' %}

{% block body_main_content %}
  <div class="local-header">
    <h1 class="local-header__title">Apply to register with a GP practice</h1>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <p>This is a trial service. It's currently only available for these GP practices:</p>
      <ul>
        {% for practice in practices %}
            {% if (ENV_VALUE('APP_ENV') != 'development') and (practice.production == 'false')  %}
            {% else %}
              <li>
                <a href="/{{ practice.key }}/start">{{ practice.name }}</a>, {{ practice.contact.location }}
              </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
