{% extends 'layouts/base.njk' %}

{% block body_main_content %}
  <div class="local-header">
    <h1 class="local-header__title">Register with a GP practice</h1>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <p>The service is not available at the moment.</p>
      <p>We are busy working to bring it back to live.</p>
    </div>
  </div>
  
{% endblock %}
